.redDiv{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 5px;
    left: 5px;
}
.blueDiv{
    width: 200px;
    height: 200px;
    background-color:blue;
    position: absolute ;
    top: 5px;
    right: 5px;
}
.pinkDiv{
    width: 200px;
    height: 200px;
    background-color:pink;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.orangeDiv{
    width: 200px;
    height: 200px;
    background-color: orange;
    position: absolute;
    top: 200px;
    left: 500px;
}
.greenDiv{
    width: 200px;
    height: 200px;
    background-color: green;
    position:  absolute;
    bottom: 5px;
    right: 5px;
}


